{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="appTaskList" lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <script type="text/javascript" src="{% static 'js/angular.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">

  <script type="text/javascript" src="{% static 'angular.treeview/angular.treeview.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'angular.treeview/css/angular.treeview.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body ng-controller="TaskCtrl" class="background-img">

  <nav class="navbar navbar-default background-img" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Список задач</a>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}
</body>

</html>