{% extends '__base.html' %}

{% block body %}
  {% verbatim %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <form class="form-inline" novalidate>
          <input ng-click="create_init()" ng-model="task.text" type="text" placeholder="Новая задача" style="width: 85%;">
          <button ng-click="create()" class="btn btn-default" style="width: 10%;">Добавить</button>
        </form>

        <div
          data-angular-treeview="true"
          data-tree-id="tasksid"
          data-tree-model="tasks"
          data-node-id="id"
          data-node-label="label"
          data-node-children="children" >
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header background-img">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Редактирование задачи</h4>
        </div>

        <div class="modal-body background-img">
          <form class="form-inline" novalidate>
            <input ng-model=" task.task" type="text">
          </form>
        </div>

        <div class="modal-footer background-img">
          <span class="pull-left">{{ updateResult }}</span>
          <button ng-click="update()" type="button" class="btn btn-primary">Сохранить</button>
          <button ng-click="remove()" type="button" class="btn btn-danger">Удалить</button>
          <button ng-click="init_subtask()" type="button" class="btn btn-info" data-dismiss="modal">Добавить подзадачу</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="modalSubtask" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header background-img">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Добавление подзадачи</h4>
        </div>

        <div class="modal-body background-img">
          <form class="form-inline" novalidate>
            <input ng-model="task.text_subtask" type="text" placeholder="Текст подзадачи">
          </form>
        </div>

        <div class="modal-footer background-img">
          <span class="pull-left">{{ updateResult }}</span>
          <button ng-click="create()" type="button" class="btn btn-primary">Сохранить</button>
        </div>

      </div>
    </div>
  </div>

  {% endverbatim %}

{% endblock %}